"*":
  "atom-autocomplete-php":
    binComposer: "/usr/composer"
  "atom-ide-ui":
    use:
      "atom-ide-diagnostics-ui": false
  "color-picker":
    abbreviateValues: true
    automaticReplace: true
    randomColor: false
  core:
    audioBeep: false
    closeDeletedFileTabs: true
    closeEmptyWindows: false
    disabledPackages: [
      "language-gfm"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "Hydrogen"
    ]
    projectHome: "/home/florent/Development"
    telemetryConsent: "no"
    themes: [
      "glacier-dark-ui"
      "tinacious-design-syntax"
    ]
  editor:
    fontSize: 12
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "d48158ee-4376-4a32-9721-d56a9c6ac0f1"
  "linter-ui-default":
    showPanel: true
  "sass-autocompile":
    indentType: "Tab"
    indentWidth: 4
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
